.img-fluid {
  border-radius: 0.25rem 5rem 0.25rem 5rem !important
}

.hover-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}

.hover-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* ########################## */
/*            HOME            */
/* ########################## */
#home #carousel img {
  object-fit: cover;
  height: 90vh;
}

/* ########### Image Gallery ########### */
#home .image-gallery {
  padding: 40px 0;
}

#home .image-gallery h1 {
  font-size: clamp(26px,2.625vw,42px);
  line-height: 1.11538;
  font-weight: 700;
  margin: auto;
}

#home .image-gallery .row {
  max-width: 1360px;
  margin: auto;
}

#home .image-gallery .row > div {
  padding: 0 7.5px;
}

#home .image-gallery .card {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

#home .image-gallery .card-img-top {
  object-fit: cover;
  transition: .2s linear;
  height: 20em;
  border-radius: 6px;
}

#home .image-gallery .card-img-top:hover{
  transform: scale(1.02);
  cursor: pointer;
}

#home .image-gallery .card-body {
  position: absolute;
  bottom: 0;
}

#home .image-gallery .card-title {
  margin-bottom: 0;
  color: white;
  font-size: clamp(22px,1.625vw,26px);
  line-height: 1.31818;
  font-weight: 700;
}

@media screen and (max-width: 992px){
  #home .image-gallery .row {
    row-gap: 15px;
  }
}

/* ########### Article Container ########### */
#home .article-container {
  width: auto;
}

#home .article-container h5 {
  font-size: clamp(24px,1.875vw,30px);
  line-height: 1.20833;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  #home .article-container {
    row-gap: 1.5rem;
  }
}

/* ########### Contact Section ########### */
footer h5 {
  color: white;
}

footer .social-links a {
  background-color: #242424;
  border: 0;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  outline: 0;
  margin-right: 6px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

footer .social-links a:hover {
  background-color: black;
}

footer .social-links a i {
  font-size: 20px;
}